admin_multiupload @ git+https://github.com/gkuhn1/django-admin-multiupload.git@a9d640634a679e3c68a5b5966ddfc0aafe159b3d
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
APScheduler==3.11.0
asgiref==3.8.1
attrs==25.3.0
beautifulsoup4==4.13.4
bleach==6.2.0
boto3==1.38.33
botocore==1.38.33
bottle==0.13.2
certifi==2025.1.31
cffi==1.17.1
channels==4.2.2
channels_redis==4.2.1
charset-normalizer==3.4.1
colorama==0.4.6
coverage==7.8.0
crispy-bootstrap5==2025.6
cssutils==2.11.1
Django==5.2.1
django-anymail==13.0
django-appconf==1.1.0
django-apscheduler==0.7.0
django-attach==1.3.0
django-auditlog==3.1.2
django-bulk-admin==0.1.1
django-ckeditor==6.7.3
django-compressor==4.5.1
django-contrib-comments==2.2.0
django-crispy-forms==2.4
django-filebrowser==4.0.3
django-grappelli==3.0.10
django-haystack==3.3.0
django-imagekit==5.0.0
django-inlinecss==0.3.0
django-ipware==7.0.1
django-js-asset==3.1.2
django-json-widget==2.0.1
django-model-utils==5.0.0
django-notifications-hq==1.8.3
django-pure-pagination==0.3.0
django-ranged-response==0.2.0
django-simple-captcha==0.6.2
django-storages==1.14.6
django-taggit==6.1.0
django-tinymce==4.1.0
django-uuslug==2.0.0
django-xadmin==0.5.0
djangorestframework==3.16.0
elasticsearch==7.16.1
elasticsearch-dsl==7.4.0
frozenlist==1.5.0
future==1.0.0
gevent==23.9.1
greenlet==3.2.2
idna==3.10
jieba==0.42.1
jmespath==1.0.1
jsonfield==3.1.0
jsonpickle==5.0.0rc1
Markdown==3.5
more-itertools==10.7.0
msgpack==1.1.0
multidict==6.2.0
mysqlclient==2.2.7
openai==0.28.1
packaging==24.2
pilkit==3.0
pillow==11.2.1
propcache==0.3.1
pycparser==2.22
Pygments==2.19.1
pynliner==0.8.0
python-dateutil==2.9.0.post0
python-ipware==3.0.0
python-logstash==0.4.8
python-slugify==8.0.4
pytz==2025.2
rcssmin==1.1.2
redis==6.0.0
requests==2.32.3
rjsmin==1.2.2
s3transfer==0.13.0
setuptools==78.1.1
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
swapper==1.4.0
text-unidecode==1.3
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
urllib3==1.26.20
user-agents==2.2.0
webencodings==0.5.1
WeRoBot==1.13.1
Whoosh==2.7.4
xmltodict==0.14.2
yarl==1.20.0
zope.event==5.0
zope.interface==7.2
