{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}
    {{ block.super }}
    {# 添加 CKEditor 相关的 JavaScript #}
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock extrahead %}

{% block content-title %}
    {{ block.super }}
{% endblock content-title %}

{% block object-tools %}
    {{ block.super }}
    {# 移除 MDeditor 专用的 FileBrowser 按钮，CKEditor 内部会集成 #}
{% endblock object-tools %}

{% block field_sets %}
{{ block.super }}

{# 移除手动渲染的 Batch Upload Files 模块 #}
{# <div class="grp-module" style="margin: 0; padding: 0; border: none; flex-shrink: 0;"> #}
{#     <h2>{% trans 'Batch Upload Files' %}</h2> #}
{#     <div class="form-row"> #}
{#         <label>{% trans 'Select and drag & drop files' %}:</label> #}
{#         <input id="batchfileupload" type="file" name="files[]" multiple> #}
{#     </div> #}
{#     <div id="uploaded_files_list" class="form-row"> #}
{#         {# Uploaded files will be listed here #} #}
{#     </div> #}
{# </div> #}

{% endblock field_sets %}

{% block extrabody %}
    {{ block.super }}
    {# 移除所有 MDeditor 和 jQuery File Upload 相关的 JavaScript #}

    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
            });
        })(django.jQuery);
    </script>
{% endblock extrabody %} 